.note-popover.popover{
    display: none;
}

.avatar  .avatar-inner,
.logo-setting .logo-setting-inner,
.favicon-setting .favicon-setting-inner {
    padding: 3px;
    width: 10rem;
    height: 23vh;
    border: 3px dashed #e5e9f2;
    border-radius: 20px;
    position: relative;
}

.avatar .avatar-inner img,
.logo-setting .logo-setting-inner img,
.favicon-setting .favicon-setting-inner img {
    border-radius: 20px;
    -o-object-fit: cover;
        object-fit: cover;
    height: 100%;
    width: 100%;
}

.avatar .avatar-inner [type=file],
.logo-setting .logo-setting-inner [type=file],
.favicon-setting .favicon-setting-inner [type=file]{
    cursor: pointer;
    z-index: 999;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logo-setting .logo-setting-inner {width: 25rem;height: 30vh;}
.logo-setting .logo-setting-inner img,
.favicon-setting .favicon-setting-inner img {width: auto;}